<div class="profile">
  <img
    class="detail"
    src="assets/imgs/background/background-home.svg"
    alt="detalhe de quadrados"
  />

  <main>
    <header>
      <div class="user">
        <div class="user--avatar">
          <ion-avatar>
            <img src="assets/imgs/awesome-user.svg" />
          </ion-avatar>
        </div>
        <ion-label>
          <h2>Cristian Perosa</h2>
          <p>Fisioterapeuta Esportivo</p>
        </ion-label>
      </div>
      <div class="menu">
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button autoHide="false" class="menu--buttons"></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </header>

    <section>
      <p>notas publicas</p>
        <ng-container *ngFor="let post of postitArray">
          <div class="feed-item">
            <app-feed-item [postit]="post"></app-feed-item>
          </div>
        </ng-container>
    </section>
  </main>
</div>
