<div class="login">
  <img class="background" src="assets/imgs/img-login.png" alt="postits coloridos">

  <img class="detail" src="assets/imgs/background.svg" alt="detalhe de quadrados">

  <div class="container">
    <img src="assets/imgs/LOGO.svg" alt="logo escrito note it">

    <div class="container--inputs">
      <label for="email">Email</label>
      <input class="input" type="email" name="email" id="email" [(ngModel)]="loginPayload.email">

      <label for="password">Senha</label>
      <input class="input" type="password" name="password" id="password" [(ngModel)]="loginPayload.password">
    </div>

    <ion-button class="buttons" [class.disabled]="!canLogin()" (click)="login()">
      {{ isLoading ? 'carregando...' : 'confirmar' }}
      <app-half-circle-spinner *ngIf="isLoading" [animationDuration]="1000" [size]="25" [color]="'white'">
      </app-half-circle-spinner>
    </ion-button>

    <p>Não possui conta? <a href="#">Cadastre-se</a></p>
  </div>
</div>