.background{
    height: 30vh;
    object-fit: cover;
    width: 100%;
}

.detail{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    object-fit: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    height: 60vh;
    transform: translateY(-50px);

    img{
        width: 22%;
        height: 30%;
        //object-fit: contain;
    }

    &--inputs{
        display: flex;
        flex-direction: column;
        width: 80%;
        label{
            color: #707070;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 0.5rem;
            font-style: italic;
            font-size: 0.95rem;
            padding-left: 1rem;
        }
    
        input{
            border: 1px solid #DBDBDB;
            background-color: transparent;
            outline: 0;
            margin-bottom: 1rem;
            border-radius: 20px;
            padding: 0.95rem;
            color: black;
        }
    }

    ion-button{
        --border-radius: 20px;
        --background: #2d9fdb;
        --box-shadow: none;
        font-style: italic;
        font-size: 0.8rem;
        width: 80%;
        height: 3rem;
        margin-top: 2rem;
        text-transform: capitalize; //primeira letra maiuscula
    }

    p{
        color: #707070;
        margin-top: 1.5rem;
        font-size: 0.85rem;

        a{
            color: #2d9fdb;
            text-decoration: none;
        }
    }
}