<div class="login">
  <img class="background" src="assets/imgs/img-login.png">

  <img class="detail" src="assets/imgs/background.svg">

  <div class="container">
    <img src="assets/imgs/LOGO.svg">

    <div class="container--inputs">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
  
      <label for="password">Senha</label>
      <input type="password" name="password" id="password">
    </div>
    
    <ion-button>confirmar</ion-button>

    <p>Não possui conta? <a href="#">Cadastre-se</a></p>
  </div>
</div>