:host {
  z-index: 999;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: calc(21rem + 3vw);
  height: 3.2rem;
  background-color: white;
  box-shadow: 0px 0px 20px 0px #bbb7b7;
  border-radius: 40px;

  .navbar--item {
    img {
      width: 80%;
      margin-top: 2px;
    }
  }
}
