<!-- desafio -->
<ion-toolbar>
  <ion-title size="large" color="danger">Desafio em aula - accordion com os exemplos dados em aula</ion-title>
</ion-toolbar>

<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Exemplo botão</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-button class="hello" size="large" fill="outline">
        Hello
      </ion-button>
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Exemplo data</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-datetime></ion-datetime>
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Exemplo select</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-select id="fruits" interface="action-sheet" placeholder="Select a fruit">
        <ion-select-option>Maça</ion-select-option>
        <ion-select-option>Banana</ion-select-option>
      </ion-select>
    </div>
  </ion-accordion>
  <ion-accordion value="forth">
    <ion-item slot="header" color="light">
      <ion-label>Exemplo imagem</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCY6gNKi2rS6q6c57CrxPzxvajYRGC7n3w4Q&usqp=CAU">
      </ion-img>
    </div>
  </ion-accordion>
</ion-accordion-group>