.hello{
  //margin-top: 2rem; //% em rem(2x16px) px vh vw
  margin: auto;
}

ion-datetime{
  margin: auto;
}

#fruits{
  margin: auto;
}

ion-img{
  width: 10vw;
  height: 10vh;
  margin: auto;
}

ion-accordion-group{
  margin: auto;
}