<div class="home">
  <header>
    <app-logo src="assets/imgs/LOGO.svg" alt="logo escrito note it"></app-logo>
  </header>

  <main>
    <ng-container *ngFor="let post of postitArray">
      <app-postit
        (postitSelected)="printPostit($event)"
        [postit]="post"
        (click)="openPostModal(post)"
      ></app-postit>
    </ng-container>
  </main>

  <div class="home--new-postit">
    <div
      class="home--new-postit--item"
      [style.background-color]="postitColorEnum.ORANGE"
      (click)="openNewPostModal(postitColorEnum.ORANGE)"
    ></div>
    <div
      class="home--new-postit--item"
      [style.background-color]="postitColorEnum.ROSE"
      (click)="openNewPostModal(postitColorEnum.ROSE)"
    ></div>
    <div
      class="home--new-postit--item"
      [style.background-color]="postitColorEnum.GREEN"
      (click)="openNewPostModal(postitColorEnum.GREEN)"
    ></div>
    <div
      class="home--new-postit--item"
      [style.background-color]="postitColorEnum.YELLOW"
      (click)="openNewPostModal(postitColorEnum.YELLOW)"
    ></div>
    <div
      class="home--new-postit--item"
      [style.background-color]="postitColorEnum.BLUE"
      (click)="openNewPostModal(postitColorEnum.BLUE)"
    ></div>
    <div
      class="home--new-postit--item"
      [style.background-color]="postitColorEnum.PURPLE"
      (click)="openNewPostModal(postitColorEnum.PURPLE)"
    ></div>
  </div>
</div>
