<div class="home">
  <header>
    <app-logo src="assets/imgs/LOGO.svg" alt="logo escrito note it"></app-logo>
  </header>

  <main>
    <ng-container *ngFor="let post of postitArray">
      <app-postit [postit]="post"></app-postit>
    </ng-container>
  </main>

  <div class="home--new-postit">
    <div class="home--new-postit--item"></div>
    <div class="home--new-postit--item"></div>
    <div class="home--new-postit--item"></div>
    <div class="home--new-postit--item"></div>
    <div class="home--new-postit--item"></div>
    <div class="home--new-postit--item"></div>
  </div>
</div>
