<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>Ajustes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" detail="false">
          <ion-label>Ajustes</ion-label>
        </ion-item>
        <ion-item lines="none" detail="false">
          <ion-label>Ajustes</ion-label>
        </ion-item>
        <ion-item lines="none" detail="false">
          <ion-label>Ajustes</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <div class="logo">
    <app-logo
      src="assets/imgs/logos/note-it.svg"
      alt="logo escrito note it"
    ></app-logo>
  </div>
</ion-menu>
